@model JuliePro_DataModels.Entities.Trainer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trainer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorEmail" class="control-label"></label>
                <input asp-for="AuthorEmail" class="form-control" />
                <span asp-validation-for="AuthorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biographie" class="control-label"></label>
                <input asp-for="Biographie" class="form-control" />
                <span asp-validation-for="Biographie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speciality_Id" class="control-label"></label>
                <select asp-for="Speciality_Id" class="form-control" asp-items="ViewBag.Speciality_Id"></select>
                <span asp-validation-for="Speciality_Id" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group" style="padding:10px">
                <form asp-action="Edit">
                    <div class="form-group">
                        <partial name="_UpdatePartialView" />
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
